<article class="card mt-3">
  <div class="card-body">
    <h4 class="mb-4"><%= @task.name %></h4>


    <section class="card-text">
      <h5><%= @task.titl %></h5>

      <p class="my-2">
        <%= @task.condition %>
      </p>


      <p class="my-2">
          <div>
            <% @tags.each do |f| %>
              <%= link_to f.name, '#', class: 'btn btn-outline-dark disabled' %>
              <% end %>
          </div>

    </section>

  </div>
</article>
