<div class="container">
  <div class="row">


    <div class="col-md-6">
      <%= render 'page_users/partial/user' %>
      <%= render 'share/form_task' %>
    </div>


    <div class="col-md-6">
      <%= render 'page_users/partial/tasks' %>
    </div>

  </div>
</div>